<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link
            href="/webjars/bootstrap/5.0.2/css/bootstrap.min.css"
            rel="stylesheet"
    />
    <link
            rel="stylesheet"
            href="/webjars/font-awesome/6.4.0/css/all.min.css"
    />
    <link rel="stylesheet" href="/css/style.css"/>
    <title>Fuck All GPT</title>
</head>
<body>
<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-md-8">
            <form action="">
                <h1 class="text-center titile">Fuck All GPT</h1>
                <p class="text-center description">
                    If you got sick of GPTs, we will act.<br/>
                    Donate for the future and remembered FOREVER
                </p>
                <div class="body">
                    <div class="input-box">
                        <label for="donorsName">You name*</label>
                        <input type="text" id="donorsName" placeholder="The name will be remembered"/>
                    </div>
                    <div class="d-flex align-items-center justify-content-center my-3">
                        <input type="submit" class="btn btn-success" value="Submit">
                    </div>
                    <div class="price-group">
                        <div class="price-box">
                            <div class="price-title-box">
                                <i class="fa-brands fa-paypal"></i>
                                <p>Private</p>
                            </div>
                            <h3 class="price">$1</h3>
                        </div>
                        <div class="price-box">
                            <div class="price-title-box">
                                <i class="fa-brands fa-paypal"></i>
                                <p>Sergeant</p>
                            </div>
                            <h3 class="price">$5</h3>
                        </div>
                        <div class="price-box">
                            <div class="price-title-box">
                                <i class="fa-brands fa-paypal"></i>
                                <p>Captain</p>
                            </div>
                            <h3 class="price">$10</h3>
                        </div>
                        <div class="price-box">
                            <div class="price-title-box">
                                <i class="fa-brands fa-paypal"></i>
                                <p>General</p>
                            </div>
                            <h3 class="price">$100</h3>
                        </div>
                    </div>
                    <div class="image d-flex justify-content-center">
                        <img src="/image/image.png" alt="">
                    </div>

                    <div class="doner-section">
                        <h4 class="doner-title">Those who fought bravely against GPTs till the last</h4>
                        <div class="doner-general">
                            <div class="general-title">
                                <i class="fa-solid fa-star"></i>
                                <h3>General</h3>
                            </div>
                            <div class="doner-general-users">
                                <h3>Jimin Won</h3>
                                <h3>user2</h3>
                            </div>
                        </div>
                        <div class="doner-general">
                            <div class="general-title">
                                <i class="fa-sharp fa-regular fa-golf-flag-hole"></i>
                                <h3>Captain</h3>
                            </div>
                            <div class="doner-captain-users">
                                <h3>user1</h3>
                                <h3>user2</h3>
                                <h3>user1</h3>
                                <h3>user2</h3>
                            </div>
                        </div>
                        <div class="doner-general">
                            <div class="general-title">
                                <i class="fa-solid fa-gem"></i>
                                <h3>Sergeant</h3>
                            </div>
                            <div class="doner-sergeant-users">
                                <h3>user1</h3>
                                <h3>user2</h3>
                                <h3>user1</h3>
                                <h3>user2</h3>
                                <h3>user1</h3>
                                <h3>user2</h3>
                                <h3>user1</h3>
                                <h3>user2</h3>
                                <h3>user1</h3>
                                <h3>user2</h3>
                                <h3>user1</h3>
                                <h3>user2</h3>
                                <h3>user1</h3>
                                <h3>user2</h3>
                                <h3>user1</h3>
                                <h3>user2</h3>
                                <h3>user2</h3>
                                <h3>user1</h3>
                                <h3>user2</h3>
                                <h3>user1</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>
